@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: rgba(87, 19, 130, 0.5);
  --soft-violet: hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-heading: hsla(0, 0%, 100%, 0.6);
  --font-size: 15px;
  --font-inter: "Inter", sans-serif;
  --font-lexend-deca: "Lexend Deca", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 70vw;
  background-color: var(--card-background);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.information {
  margin-left: 50px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.heading {
  font-family: var(--font-inter);
  color: var(--main-heading-stats);
  font-weight: 700;
  font-size: 2rem;
}

.heading > span {
  color: var(--soft-violet);
}

.paragraph {
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--main-paragraph);
  font-size: var(--font-size);
  line-height: 1.5rem;
  margin-top: -2rem;
}

.stats-container {
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.numbers {
  font-family: var(--font-inter);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-heading-stats);
}

.metadata {
  font-family: var(--font-lexend-deca);
  font-size: var(--font-size);
  color: var(--stats-heading);
  text-transform: uppercase;
}

.image {
  background-image: linear-gradient(
      to right,
      var(--accent) 50%,
      var(--accent) 50%
    ),
    url("/images/image-header-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  margin: 1rem;
  color: white;
}

@media screen and (width <= 768px) {
  .card {
    margin: 4rem 0px 1.5rem;
    height: auto;
    width: 90vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr;
    text-align: center;
  }

  .information {
    grid-row: 2/3;
    padding: 0;
    margin: 1rem;
    padding: 1.5rem 0rem;
  }

  .paragraph {
    margin: 1.2rem;
  }

  .heading {
    margin-top: 0;
  }

  .stats-container {
    flex-direction: column;
    gap: 2rem;
  }

  .image {
    grid-row: 1/2;
    background-image: linear-gradient(
        to right,
        var(--accent) 50%,
        var(--accent) 50%
      ),
      url("/images/image-header-mobile.jpg");
  }
}
